@font-face {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
}

html, body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin: 0;

}

.landing {
    box-sizing: border-box;
    padding-top: 23px;
    padding-left: 140px;
    width: 1280px;
}

.head {
    display: flex;
    justify-content: space-between;
}

.h-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.product {
    margin: 10px;
}

.nav {
    margin: 16px;
}

.nav-img {
    margin: 16px;
}
.h-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.s1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.s1-buttons {
    display: flex;
    align-items: center;
}

.triangle {
    margin-left: 25px;
}

.video {
    margin-left: 10px;
    color: black;
}

.s2-text {
    margin-left: 150px;
    text-align: center;
}

.s2 {
    background-image: url("img/background-1.png");
    display: flex;
    margin-top: 50px;
}

.btn-now {
    margin-left: 500px;
}

.s6 {
    margin-left: 200px;
}
.s4-block22 {
    display: inline-block;
}

.s6-block1 .s6-block2 {
    display: flex;
    flex-direction: column;
}
